.centerGol {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

button {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
}
