.Node,
.NodeAlive {
  background-color: #def2f1;
  width: 100%;
  padding-bottom: 100%;
  outline: 0.1px solid #17252a;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.NodeAlive {
  background-color: #2b7a78;
}
.Node:hover {
  background-color: #3aafa9;
}
.NodeAlive:hover {
  background-color: #3aafa9;
}
